/*
====================================================================================================================================================================
                                                    Start Courses Page
====================================================================================================================================================================
*/

section#courses {
  padding-bottom: 40px;
  padding-top: 20px;
}

div.coursegrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-top:40px;
  padding-bottom:40px;
}

h6 {
  font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Courses Page
====================================================================================================================================================================
*/
