/*
====================================================================================================================================================================
                                                    Start Slideshow Properties
====================================================================================================================================================================
*/

section.content {
  color: white;
  position: absolute;
  top:200px;
  left: 300px;
}

img#slide {
  width: 100%;
  height: auto;
}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties
====================================================================================================================================================================
*/

section#courses {
  padding-bottom: 40px;
  padding-top: 20px;
}

div.coursegrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-top:40px;
  padding-bottom: 40px;
}

h6 {
  font-size: 1em;
}
/*
====================================================================================================================================================================
                                                    End Featured Courses Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties
====================================================================================================================================================================
*/

section#about {
  background:#252525;
  width: 100%;
}

div.about {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: white
}
div.aboutflex {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
}

div.reviews, .courses,.students, .hours {
  background: black;
  color: white;
  position: relative;
  padding: 5px;
  width: 300px;
  height: auto;
  margin: 10px;
}

/*
====================================================================================================================================================================
                                                    End About Section Properties
====================================================================================================================================================================
*/
/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties
====================================================================================================================================================================
*/

section#learntech{
  padding-bottom: 40px;
  padding-top: 30px;
}

div.learntech-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-top:40px
}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/
