/*
====================================================================================================================================================================
                                                    Start Learn Tech Page
====================================================================================================================================================================
*/

section#learntech {
  padding-bottom: 40px;
  padding-top: 20px;
}

div.learntech-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  text-align: center;
  justify-content: center;
  width:100%;
  padding-bottom: 200px;
  padding-top: 40px;
}

/*
====================================================================================================================================================================
                                                    End Learn Tech Page
====================================================================================================================================================================
*/
