/*
====================================================================================================================================================================
                                                    Start Premium Plus Page
====================================================================================================================================================================
*/

section#courses {
  padding-bottom: 40px;
  padding-top: 20px;
}

div.plangrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  width: 80%;
  margin: auto;
  padding-top:70px;
  padding-bottom: 200px;
}

div.monthly, .annual, .lifetime {
  padding:20px 30px 50px 30px;
  border: solid #09568d;
  width: auto;
}

h2 {
 text-align: center;
}

/*
====================================================================================================================================================================
                                                    End Premium Plus Page
====================================================================================================================================================================
*/
