/*
====================================================================================================================================================================
                                                    Start Tech Support Page
====================================================================================================================================================================
*/
div.techsupport {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px 50px;
  justify-content: space-evenly;
  background: lightblue;
  padding: 10px;
  justify-content: center;
 }

.computersupport{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px 50px;
  justify-content: center;
  padding: 40px;
}

.text {
  width: 650px;
}


/*
====================================================================================================================================================================
                                                    End Tech Support Page
====================================================================================================================================================================
*/
